<!DOCTYPE html>
<html>
<head>
<title>Advertisemnt Zone</title> 
</head>
<body>
<h1> Welcome to Books Advertisemnt Zone</h1>
<table>
<thead>
<strong><%=link_to "Add Books",book_new_path%></strong><br>
<strong><%=link_to "Books List",book_list_path%></strong>
</thead>
</table>
</body>
</html>
